@media screen and (max-width: 800px){
    :host{
        display: flex;
        flex-flow: column;
        align-items: center;
        
    }
    mat-card{
        width: 90vw;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
   
}