<mat-card>
    
    <mat-card-header>
        <mat-card-title class="sizeLetter">Task</mat-card-title>
        <mat-card-subtitle class="sizeNum">{{user.currentTask?.name}}</mat-card-subtitle>
        <!-- <mat-card-subtitle class="boss">Mr. boss is watching you!</mat-card-subtitle> -->
        <mat-card-title class="sizeLetter">Elapsed Time</mat-card-title>
        <mat-card-subtitle class="sizeNum"> {{formatedTime}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="marginIcon">
        <button *ngIf='!user.currentTask.active' mat-icon-button (click)='stopTask()'> 
            <mat-icon *ngIf='!user.currentTask.active' [ngStyle]="{'color': 'white','font-size':'2rem'}">
                done_all
            </mat-icon>

        </button>
        <button mat-icon-button (click)='pauseResumeTask()'>
            <mat-icon [ngStyle]="{'color': 'white','font-size':'2rem'}" *ngIf='user.currentTask?.active'>
                pause
            </mat-icon>
            <mat-icon [ngStyle]="{'color': 'white','font-size':'2rem'}" *ngIf='!user.currentTask?.active'>
                forward
            </mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
