

<mat-card>
    <h1>Pick your Task.</h1>
    <form >
        <mat-form-field appearance="fill">
            <mat-label>Tasks</mat-label>
            <mat-select [formControl]="taskControl" required>
                <mat-option>taskList</mat-option>
                <mat-option *ngFor="let task of tasksArray" [value]="task">
                    {{task}}
                </mat-option>
            </mat-select>
        <mat-error *ngIf="taskControl.hasError('required')">Please choose a Task</mat-error>
        </mat-form-field>
        <button mat-icon-button color='accent' [disabled]='taskControl.invalid' aria-label="Start your Task" (click)='startTask()'>
            <mat-icon>play_circle_outline</mat-icon>
        </button>
    </form>
</mat-card>
