<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<main class="img-fluid" >

  <div class="container fadeInDown" >
    <div class="fadeIn first">
  <h1>Welcome</h1>
  <h4>to the Dimension Time App</h4>
  <button type="button" class="btn btn-warning button" routerLink='/login' routerLinkActive="active"><span>Log In</span></button>
  <p>Not a member yet?  <a routerLink="/register">Register</a></p>
    </div>
  </div>


</main>
