<!-- <form [formGroup]="formGroup" (ngSubmit)='onSubmit()'>
  <input type="hidden" formControlName="id">
  <mat-form-field>
      <mat-label>e-mail</mat-label>
      <input matInput type='email' name="email" formControlName="email" />
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type='password' name="password" formControlName="password" />
  </mat-form-field>
  <mat-divider></mat-divider>
  <button color="primary" mat-raised-button type="submit" [disabled] = 'formGroup.invalid'>
      Log me!
  </button>
  <mat-divider></mat-divider>
  <a routerLink='/register'>Not Logged? Register HERE!</a>
</form> -->


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">

  <!-- <button mat-raised-button type="submit" [disabled]=''class="fadeIn fourth alignButton" >List-Manager</button> -->
  <div id="formContent">

    <div class="fadeIn first">

    <div class="text-center"> 
      <img routerLink='/landing' routerLinkActive='active' class="img-fluid" src="https://media.discordapp.net/attachments/768885945398722570/787966474991829042/eClonkInlogo.png?width=618&height=538" alt="Responsive image" style="width:20vh;">
    </div>

    </div>

    <div class="fadeIn five">
        <h2>LOGIN</h2>
    </div>

    <form [formGroup]='formGroup' class="was-validated">

      <div class="form-group">
        <input type="email" id="login" class="fadeIn third form-control" formControlName="email" placeholder="email" required>
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <div class="form-group">
        <input type="password" id="password" class="fadeIn third form-control" formControlName="password" placeholder="password" required>
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <button mat-flat-button color="warn" type="submit" (click)='loginUser(formGroup)' class="fadeIn fourth alignButton btn btn-warning" [disabled]='formGroup.invalid'>
        Login
        </button><br>
        <!-- <mat-error *ngIf='logError'>
          Login Incorrecto porfavor vuelva a intentarlo.
        </mat-error> -->
    </form>

    <div id="formFooter" class="fadeIn six">
      <p style="color:white">Not Logged?</p><a class="underlineHover" href="#" routerLink='/register' routerLinkActive='active'>Register HERE!</a>
    </div>

  </div>
</div>